body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Menu {
  margin-left: 20%;
  margin-right: 20%;
}

.menuLink {
  padding: 5px;
  background: lightgreen;
}

.menuLink:link {
  text-decoration: none;
  color: green;
}

.menuLink:visited {
  color: green;
}

.menuLink:hover {
  color: black;
}

.login {
  padding: 10px;
}